.footer__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ECECF0;
  margin-top: 130px;

  & .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
}

@media (max-width: 1040px) {
  .footer__wrapper {
    position: static;
    margin-top: 40px;
  }
}

@media (max-width: 1240px) {
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}